{% extends 'catalog/catalog_base.html' %}

{% block body_content %}

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-12 col-md-9">
          <p class="float-right hidden-md-up">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Toggle nav</button>
          </p>
          
          <div class="row">


            <div class="col-12 col-lg-12" >
              <h2 style="margin-bottom: 20px; margin-top: 50px;">Albums</h2>

            {% for hg in holding_groups %}

            <div class="col-12 col-lg-12 card">
              <div class="row card-header">
                <div class="col-4 col-md-2" style="padding-bottom: 5px">
                    {% if hg.release_group_mbid %}
                        <img src="/coverartarchive/release-group/{{ hg.release_group_mbid }}/250" class="img-fluid"/>
                    {% else %}
                        {% for h in hg.holdings if h.release_mbid %}
                        {% if loop.first %}
                            <img src="/coverartarchive/release/{{ h.release_mbid }}/250" class="img-fluid"/>
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-8 col-md-10">
										<h5><a href="/search?album_artist={{ hg.album_artist }}">{{ hg.album_artist }}</a> - <i><a href="/holding_groups/{{ hg.id }}">{{ hg.album_title }}</a></i></h5> {% if 'librarian' in access %} <p class="text-right">[<a href="/holding_groups/{{ hg.id }}/edit">ED</a>]{% endif %}</p>
                    <p class="card-text">
                    {% for h in hg.holdings %}
                    <!-- TODO color-code tag badges based on hash of text -->
                    {% for tag in h.holding_tags %}
                        <span class="badge badge-default">{{ tag.tag }}</span>
                    {% endfor %}
                    {% endfor %}
                    </p>
                </div>
              </div> <!-- /row -->
             
              <div class="row">
                <table class="table">
                <thead>
                    <tr>
                    <th></th>
                    <th>Label</th>
                    <th>Format</th>
                    <th></th>
                    <th>Rotation</th>
                    </tr>
                </thead>
                <tbody>
                {% for h in hg.holdings %}
                    <tr>
                    <th scope="row"></th>
                    <td>{{ h.label }}</td>
										<td><a href="/holdings/{{ h.id }}">{{ h.format.name }}</a></td>
                    <td>
												[ <a href="/holdings/{{ h.id }}/report" title="Report problem to library staff">RP</a>
                        {% if h.release_mbid %}
                        | <a href="https://musicbrainz.org/release/{{ h.release_mbid }}" title="Show album on MusicBrainz">MB</a>
												{% endif %}
												{% if 'librarian' in access %}
												| <a href="/holdings/{{ h.id }}/edit" title="Edit holding">ED</a>
                        {% endif %}
												]
                    
                    </td>
                    <td>{% for rr in h.rotation_releases %}
                    {% if rr.start.strftime("%Y%m%d%H%M%S") <=  now.strftime("%Y%m%d%H%M%S")  %}
                        {% if rr.end is defined and rr.end %}  
                            {% if rr.end.strftime("%Y%m%d%H%M%S") > now.strftime("%Y%m%d%H%M%S") %}
                            <span class="badge badge-default">{{ rr.bin }}</span>
                            {% endif %}
                        {% else %}
                            <span class="badge badge-default">{{ rr.bin }}</span>
                        {% endif %}
                    {% endif %}
                    {% endfor %}</td>
                    </tr>
                {% endfor %}

                </tbody>
                </table>
              </div> <!-- row -->
            </div><!--/span-->
            {% endfor %}

            </div><!--/album type heading-->


					<div></div>
          {{ render_pagination(pagination, endpoint) }}

          </div><!--/row-->
        </div><!--/span-->

      </div><!--/row-->


{% endblock %}
